<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>
        {{pageTitle}}
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
      <form [formGroup]="productForm" (ngSubmit)="onSubmit(productForm)" padding-right>
          <!-- <ion-item>
              <ion-label position="floating">Product Image</ion-label>
              <ion-input type="file" name="name" (change)="onFileSelected($event)"></ion-input>
          </ion-item> -->
          <ion-item>
            <ion-label position="floating">Product Name</ion-label>
            <ion-input type="text" formControlName="name" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Product Code</ion-label>
            <ion-input type="text" formControlName="code" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Product Stock</ion-label>
            <ion-input type="number" formControlName="quantity" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Product Price</ion-label>
            <ion-input type="number" formControlName="price" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Product Description</ion-label>
            <ion-textarea formControlName="description"></ion-textarea>
          </ion-item>
          <ion-item>
              <ion-label position="floating">Add Subproducts</ion-label>
              <ion-fab-button [routerLink]="['/addeditsubproduct']" routerLinkActive="router-link-active" >
                <ion-icon name="add"></ion-icon>
              </ion-fab-button>
          </ion-item>
          <!-- <ion-item>
              <ion-label>Is Active</ion-label>
              <ion-checkbox formControlName="isActive" color="primary"></ion-checkbox>
          </ion-item> -->
      
          <ion-button color="primary" type="submit" > Submit </ion-button> 
          <!-- (click)="onsave()" -->
          <ion-button color="secondary" type="submit"> Cancel </ion-button>
      </form>
  </ion-content>
